<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="side-navbar.component.css">
  </head>
    <body >

      <div id="mySidenav" class="sidenav">

        <a href="#">Home</a>

        <a>Users</a>
        <div *ngFor="let u of users;index as i">
          <a *ngIf="u.id != userId" [routerLink]="['/app/viewchat',u.id]"><i>{{u.userName}}</i>&nbsp;&nbsp;
            <label style="color: rgb(199, 36, 36);">({{counter[i]}} unread)</label></a>
         
        </div>
    </div>
      </body>

  </html>