<div id="mySidenav" class="sidenav">
    <table >
      <thead>
        <tr>
          <th>Users</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of users;index as i">
          <td>
            <a *ngIf="u.id != userId" [routerLink]="['/app/viewchat',u.id]"><i>{{u.userName |localize}}</i>&nbsp;&nbsp;
              <span *ngIf="counter[i]>0" style="color: rgb(199, 36, 36);">({{counter[i] |localize}} unread)</span></a>
           
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="text-center">
    <h1 class="display-4" style="color:blue">Welcome</h1>
    <h5 style="color: blue;">TO</h5>
    <h2>CHAT APPLICATION SYSTEM</h2>
  </div>